/*Colors and fonts*/
body {
	background: rgb(290,290,290);
	color: black;
	font-family: courier;
	font-size: 16px;
}

H1,H2 {
	font-family: 'Roboto', sans-serif;
}
h1{
	color:lightblue ;
	font-size: 40px;
	font-weight: 600;
	letter-spacing:10px;

}
h2{
	color:black;
	font-size: 17px;

}
a{
	font-family: arial;
	text-decoration: none;
	color: red;
	font-weight: bold;
}
a:hover{
	color: blue;
}

.text-justify{
	text-align: left;
}

div {

    background: white;
    margin: 20PX;
    padding: 25px;
    box-shadow: 5px 5px 30px lightblue;
    border-radius: 20px;

}

/*Custom design with class*/

.container{
	width: 700px;
	margin: 40px auto;
}

@media ( max-width: 500px) {
	.container{
		width: 400px;
	}
}
@media ( max-width: 760px) {
	.container{
		width: 600px;
	}
}

@media (max-width: 720px) {
  
  .container {
    width: 500px;
  }
}

.card-white{
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.image-circle{
	border-radius: 50%;
}
.buton-blue{
	background-color: lightblue;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}

.buton-blue:hover{
	background-color: blue;
	color: white;
}
.list-inline{
	list-style: none;
	padding-left: 0px;
}
.list-inline li{
	display: inline;
	padding: 10px;
}
.list-inline i{
	font-size: 50px;
	color: rgb(230,230,230);
}
.list-inline i:hover{
	font-size: 50px;
	color: black;
}

/*design adjustments using id (1% design remaining)*/
#introduction p {
	margin-bottom: 40px;

}